body {
    background-color: black;
    color: white;
    font-family: "Alef", sans-serif;
}

header a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

strong {
    color: white;
}

img {
    width: calc(100% - 4rem);
    border-radius: 10px;
    margin: 2rem;
}

