body {
    background-color: black;
    color: white;
    font-family: "Alef", sans-serif;
}

header a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

strong {
    color: white;
}

.card-container-evento {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
    max-width: 1000px;
    margin: auto;
}

.text-content-evento {
    flex: 1;
}

.Image-container {
    max-width: calc(500px - 4rem);
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 2rem 0 2rem 2rem;
}
