.footer-bg {
    padding: 20px 0;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
.logo h1 {
    color: white;
}

.footer-bg .container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 940px;
    padding: 70px 0 40px;
}

.footer-bg .element-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.footer-bg .logo {
    box-sizing: border-box;
    padding: 0 10px;
    width: 33.3333%;
}

.footer-bg .logo img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

.footer-bg .all-link {
    box-sizing: border-box;
    padding: 0 10px;
    width: 66.6667%;
    display: flex;
    justify-content: space-evenly;
}

.footer-bg .title {
    color: #FFFFFF;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin: 24px 0 0;
}

.footer-bg .collegamenti-link {
    color: rgba(255, 255, 255, 0.8);
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8em;
    margin-top: 2px;
}

.footer-bg .link-page {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
}

.footer-bg a {
    color: #FFFFFF;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-bg a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.footer-bg .social-icon {
    color: #FFFFFF;
    display: inline-block;
    margin: 10px 8px 0 0;
    opacity: 0.8;
    text-decoration: none;
    transition: opacity 0.3s;
}

.footer-bg .social-icon:hover {
    opacity: 1;
}

.footer-bg .social-icon img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}