/*INFORMAZIONI GENERALI PER TUTTE LE PAGINE*/
* {
    font-family: "Alef", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: "Alef", sans-serif;
}

h1 {
    color: #333;
}

table {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    width: 100%;
    display: grid;
    gap: 20px;
}

td {
    padding: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="datetime-local"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

input[type="submit"],
button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: #88c;
    color: #fff;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
    background-color: #668;
}

td.label {
    font-weight: bold;
    padding-bottom: 5px;
}



/*PAGINA EVENTI*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.event-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: left;
    margin-bottom: 20px;
}

.event-card h2 {
    font-size: 1.5em;
    margin-top: 0;
    color: #333;
}

.event-card p {
    margin: 8px 0;
    color: #555;
}

.event-card p strong {
    color: #333;
}

.header a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.header a:hover {
    background-color: #88c;
    border-radius: 5px;
}

.search-form {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.search-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-form button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #88c;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #668;
}


.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10; /* Assicura che l'intestazione sia sopra lo sfondo */
}

.header a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.header a:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}



/*PAGINA PRINCIPALE MUSEO*/

.card {
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url('mostre.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: end;
    padding: 20px;
}

.descrizione {
    max-width: 600px; /
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.descrizione-testo {
    color: #555555;
}

p {
    margin: 0;
    line-height: 1.6;
    color: white;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    text-align: center;
}


footer p {
    margin: 0;
    color: #F8F9FA;
}

.sottolineato {
    text-decoration: underline;
    margin: 0;
    color: #F8F9FA;
}

.iconeSocial {
    padding: 15px;
}

.Titolo {
    text-align: center;
    color: #F8F9FA;
}

.searchBarra {
    width: 50%;
    height: 20%;
    padding: 10px;
    border:  #F8F9FA;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
}
