.gestisci-evento-card-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: auto 4rem;
}

.gestisci-evento-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    overflow: hidden;
    transition: .2s;
}

.gestisci-evento-card:hover {
    box-shadow: rgba(238, 75, 43, 0.4) -5px 5px,
    rgba(238, 75, 43, 0.3) -10px 10px,
    rgba(238, 75, 43, 0.2) -15px 15px,
    rgba(238, 75, 43, 0.1) -20px 20px,
    rgba(238, 75, 43, 0.05) -25px 25px;
}

.evento-info-testo {
    padding: 1rem;
}

.gestisci-evento-card img {
    max-width: 49%;
    max-height: 30%;
}

.gestisci-evento-card h2 {
    font-size: 1.5em;
    margin-top: 0;
    color: #333;
}

.gestisci-evento-card p {
    margin: 8px 0;
    color: #555;
}

.gestisci-evento-card p strong {
    color: #333;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.edit-button {;
    min-width: 200px;
    max-width: calc(50% - 10px);
}

.delete-button {
    min-width: 200px;
    max-width: calc(50% - 10px);
}

.evento-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.evento-info-testo {
    width: 49%;
}

.evento-info-testo p {
    width: 49%;
}
