<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Dettaglio</title>
    <link rel="stylesheet" type="text/css" th:href="@{/DettaglioEvento.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/Footer.css}">
</head>
<body>
<div th:replace="fragments/Header :: header"></div>
<table>

    <p><strong>Titolo:</strong> <span type="text" id="titolo" th:text="${evento.titolo}" ></span></p>
    <p><strong>Organizzatore: </strong> <span th:text="${evento.organizzatore}"></span></p>
    <p><strong>Tipo Evento: </strong><span th:text="${evento.tipo.nome}" ></span> </p>
    <p><strong>Descrizione: </strong><span th:text="${evento.descrizione}" ></span></p>
    <p><strong>Data Inizio: </strong><span th:text="${#temporals.format(evento.dataInizio,  'dd/MM/yyyy')}"></span> </p>
    <p><strong>Data Fine: </strong> <span th:text="${#temporals.format(evento.dataFine,  'dd/MM/yyyy')}"> </span></p>
    <p><strng>Età Minima:</strng> <span th:text="${evento.etaMinima}"> </span></p>
    <p><strng>Limite Perosne:</strng> <span th:text="*{evento.limitePersone}"> </span></p>
    <p><strng>Stanza:</strng> <span th:text="${evento.idStanza}"> </span></p>

    <a><img th:src="${evento.urlImmagine}" alt="copertina evento"></a>

</table>

<div th:replace="fragments/Footer :: footer"></div>
</body>
</html>