<!DOCTYPE html>
<html lang="it">
<head>
    <title>Gestisci Eventi</title>
    <link rel="stylesheet" type="text/css" th:href="@{/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/ListaEventi.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/Footer.css}">
</head>
<body>

<div th:replace="fragments/Header :: header"></div>

<h1>Gestisci Eventi</h1>

<form class="search-form" th:action="@{/admin/eventi/}" method="GET">
    <input type="text" name="searchTerm" placeholder="Cerca eventi..."
           aria-label="Cerca eventi" th:value="${searchTerm}">
    <button type="submit">Cerca</button>
</form>

<div class="gestisci-evento-card-container">
    <div class="gestisci-evento-card" th:each="evento : ${eventi}">
        <h2 th:text="${evento.titolo}">Titolo Evento</h2>
        <div class="evento-info" style="display: flex; flex-direction: row; justify-content: space-between">
            <div class="evento-info-testo" style="width: 49%">
                <p><strong>Organizzatore:</strong> <span th:text="${evento.organizzatore}">Organizzatore Evento</span>
                </p>
                <p><strong>Tipologia:</strong> <span th:text="${evento.tipo?.nome ?: 'Non specificato'}">Tipologia Evento</span>
                </p>
                <p><strong>Descrizione:</strong> <span th:text="${evento.descrizione}">Descrizione Evento</span></p>
                <p>
                    <strong>Data Inizio:</strong>
                    <span th:text="${#temporals.format(evento.dataInizio, 'dd/MM/yyyy HH:mm')}">Data Inizio</span>
                </p>
                <p>
                    <strong>Data Fine:</strong>
                    <span th:text="${#temporals.format(evento.dataFine, 'dd/MM/yyyy HH:mm')}">Data Fine</span>
                </p>
                <p><strong>Et&agrave; Minima:</strong> <span th:text="${evento.etaMinima}">Et&agrave; Minima</span></p>
                <p><strong>Limite Persone:</strong> <span th:text="${evento.limitePersone}">Limite Persone</span></p>
                <p><strong>Stanza:</strong> <span th:text="${evento.idStanza}">Numero Stanza</span></p>
            </div>
            <img th:src="${evento.urlImmagine}" alt="copertina evento" style="width: 49%; max-height: 35dvh; object-fit: cover">
        </div>

        <div class="button-container">
            <a th:href="@{/admin/eventi/eliminaEvento/{id}(id=${evento.id})}">Elimina</a>
            <a th:href="@{/admin/eventi/modificaEvento/{id}(id=${evento.id})}">Modifica</a>
        </div>
    </div>
</div>

<div th:replace="fragments/Footer :: footer"></div>
</body>
</html>