<!DOCTYPE html>
<html lang="it">
<head>
    <title>Gestisci Eventi</title>
    <link rel="stylesheet" type="text/css" th:href="@{/index.css}">
</head>
<body>

<header class="header">
    <div class="header-left">
        <a href="#">Home</a>
    </div>
    <div class="header-right">
        <a th:href="@{Login.html}">Login</a>
    </div>
</header>

<h1>Gestisci Eventi</h1>

<form class="search-form">
    <input type="text" placeholder="Cerca eventi..." aria-label="Cerca eventi">
    <button type="submit">Cerca</button>
</form>

<div class="card-container">
    <div th:each="evento : ${eventi}" class="event-card">
        <h2 th:text="${evento.titolo}">Titolo Evento</h2>
        <p><strong>Organizzatore:</strong> <span th:text="${evento.organizzatore}">Organizzatore Evento</span></p>
        <p><strong>Tipologia:</strong> <span th:text="${evento.idTipo}">Tipologia Evento</span></p>
        <p><strong>Descrizione:</strong> <span th:text="${evento.descrizione}">Descrizione Evento</span></p>
        <p><strong>Data Inizio:</strong> <span th:text="${evento.dataInizio}">Data Inizio</span></p>
        <p><strong>Data Fine:</strong> <span th:text="${evento.dataFine}">Data Fine</span></p>
        <p><strong>Et&agrave; Minima:</strong> <span th:text="${evento.etaMinima}">Et&agrave; Minima</span></p>
        <p><strong>Limite Persone:</strong> <span th:text="${evento.limitePersone}">Limite Persone</span></p>
        <p><strong>Stanza:</strong> <span th:text="${evento.idStanza}">Numero Stanza</span></p>
        <td><input type="submit" value="Vedi Dettagli"></input></td>
    </div>

</div>

</body>
</html>
