<!DOCTYPE html>
<html lang="it">
<head>
  <title>Gestisci Eventi</title>
  <link rel="stylesheet" type="text/css" th:href="@{/index.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/ListaEventi.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/Footer.css}">
</head>
<body>

<div th:replace="fragments/Header :: header"></div>

<h1>Gestisci Utenti</h1>

<div class="top-bar">
  <form class="search-form" th:action="@{/admin/eventi/}" method="GET">
    <input type="text" name="searchTerm" placeholder="Cerca utenti..."
           aria-label="Cerca eventi" th:value="${searchTerm}">
    <button type="submit">Cerca</button>
  </form>
  <a th:href="@{/admin/utenti/creaAdmin/}"><button>Nuovo Admin</button></a>
</div>

<div class="gestisci-evento-card-container">
  <div th:each="user : ${adminList}" class="gestisci-evento-card" style="padding: 1rem">
    <h2 th:text="${user.nome}">Nome utente</h2>
    <p><strong>Cognome:</strong> <span th:text="${user.cognome}">Cognome</span></p>
    <p><strong>Mail:</strong> <span th:text="${user.mail}">Mail</span></p>
    <div class="button-container">
      <a th:href="@{/admin/utenti/eliminaUtente/{id}(id=${user.id})}">Elimina</a>
      <a th:href="@{/admin/utenti/}">Modifica</a>
    </div>
  </div>
</div>

<div th:replace="fragments/Footer :: footer"></div>
</body>
</html>