<html lang="it">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css">

</head>
<body>

<h1>Login per la creazione di Eventi e Mostre</h1>

<table>
    <form th:action="@{/login/}" method="post" th:object="${admin}">
        <tr>
            <td>Mail</td>
            <td><input type="text" name="Mail"></input></td>
        </tr>

        <tr>
            <td>Password</td>
            <td><input type="password" name="Password"></input></td>
        </tr>

        <tr>
            <td><input type="submit" value="Login"></input></td>
        </tr>
    </form>
</table>
</body>
</html>