<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifica Evento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/index.css}">
    <meta charset="UTF-8">
</head>
<body>
<h1>Modifica Evento</h1>

<form th:action="@{/admin/eventi/modificaEvento/aggiornaEvento/}" th:object="${evento}" method="post">
    <!--    metto l'id hidden perche' non deve essere modificato, ma voglio comunque che vada mandato al post   -->
    <input type="hidden" th:field="*{id}"/>

    <table>
        <tbody>
        <tr>
            <td><label for="titolo">Titolo:</label></td>
            <td><input type="text" id="titolo" th:field="*{titolo}" required></td>
        </tr>
        <tr>
            <td><label for="organizzatore">Organizzatore:</label></td>
            <td><input type="text" id="organizzatore" th:field="*{organizzatore}" required></td>
        </tr>
        <tr>
            <td><label for="tipo">Tipo Evento:</label></td>
            <td>
                <select id="tipo" th:field="*{tipo}" required>
                    <option value="">-- Seleziona Tipo --</option>
                    <option th:each="tipoOption : ${tipiList}"
                            th:value="${tipoOption.id}"
                            th:text="${tipoOption.nome}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="descrizione">Descrizione:</label></td>
            <td><textarea id="descrizione" th:field="*{descrizione}" required></textarea></td>
        </tr>
        <tr>
            <td><label for="dataFine">Data inizio:</label></td>
            <td>
                <input type="datetime-local" id="dataInizio" th:field="*{dataInizio}"
                       th:value="${#temporals.format(evento.dataInizio, 'yyyy-MM-dd''T''HH:mm')}" required>
            </td>
        </tr>
        <tr>
            <td><label for="dataFine">Data fine:</label></td>
            <td>
                <input type="datetime-local" id="dataFine" th:field="*{dataFine}"
                       th:value="${#temporals.format(evento.dataFine, 'yyyy-MM-dd''T''HH:mm')}" required>
            </td>
        </tr>
        <tr>
            <td><label for="etaMinima">Età minima:</label></td>
            <td><input type="number" id="etaMinima" th:field="*{etaMinima}" required></td>
        </tr>
        <tr>
            <td><label for="limitePersone">Limite persone:</label></td>
            <td><input type="number" id="limitePersone" th:field="*{limitePersone}" required></td>
        </tr>
        <tr>
            <td><label for="idStanza">ID stanza:</label></td>
            <td><input type="number" id="idStanza" th:field="*{idStanza}" required></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Salva Evento</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>

</body>
</html>
