<html>
    <body>
        <form action="#" th:action="@{/registrati}" th:object="${persona}" method="post">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" th:field="*{nome}" /></td>
                    <td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Name Error</td>
                </tr>
                <tr>
                    <td>Surname:</td>
                    <td><input type="text" th:field="*{cognome}" /></td>
                    <td th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}">Surname Error</td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td><input type="text" th:field="*{eta}" /></td>
                    <td th:if="${#fields.hasErrors('eta')}" th:errors="*{eta}">Age Error</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" th:field="*{email}" /></td>
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>